<div data-controller="wish-status-update" class="d-flex justify-content-between align-items-center">
    <%= simple_form_for @wish, html: {data: { wish_status_update_target: "form"}} do |f| %>
        <%= f.input :stage, 
                    collection: Wish.stages.keys,
                    as: :select, 
                    default: @wish.stage, 
                    label: false, 
                    class: "card-ghost card-ghost-wide card-product__status mb-0", 
                    style: "border-color: #{@wish.stage_color}; color: #{@wish.stage_color}",
                    prompt: "Stage of this feature", 
                    input_html: {
                        data: {
                                wish_status_update_target: "select",
                                confirm: "Are you sure you want to update the stage of this feature?",
                                action: "change->wish-status-update#update"
                        }
                    }
         %>
        <div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
            <div class="modal-dialog rounded">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="statusModalLabel">Update status confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to update the status of this feature?</p>
                    <p>This update will appear in the activity feed of this feature.</p>
                    <%= f.submit "Confirm", class: "btn-flat" %>
                </div>
                </div>
            </div>
        </div>
            
    <% end %>
</div>