a {
    text-decoration: none !important;
    color: $font-color !important;
}

.highlight {
    color: $primary-color ;
}

input[type="submit"] {
    border-width: 0px !important;
}

.title-main-highlight {
    height: 20px;
    border-radius: 20px;
    margin-top: -25px;
}

.title-wrapper {
    width: fit-content;
    margin-bottom: 35px;
}

.title-header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}

.header-icons {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.header-icons:hover {
    cursor: pointer;
    height: 22px;
    width: 22px;
}