  <p>Dear <%= @user.first_name %>,</p>
  
  <p>Welcome to Wyshlist.net! I'm Daniel, the Founder of Wyshlist.net, and I'm thrilled to have you on board.</p>
  
  <p>As a project manager in various apps, I've come to realize that features only truly matter when they bring value to the end user. That's why I created Wyshlist.net – a web app designed to empower product managers and tech teams to gather feedback directly from users and prioritize their needs.</p>
  
  <p><strong>We're just at the beginning of this exciting adventure, and we sincerely appreciate your support. To express our gratitude, I'm delighted to offer you FREE access for life to ALL current and future features of Wyshlist.net. Yes, you read that right! You'll have unlimited access to our ever-growing suite of tools and capabilities.</strong></p>
  
  <p>In the next release, the monthly subscription for such a comprehensive package would round up to 300€/month, but as a valued Beta member of our community, you get to enjoy it all at no cost. It's our way of saying thank you for joining us on this journey.</p>
  
  <p>Stay tuned as we continue to enhance Wyshlist.net with new features, improvements, and exciting updates. We're committed to providing you with the best experience possible.</p>
  
  <p>If you have any questions, feedback, or suggestions, please don't hesitate to reach out to us. We're here to listen and assist you.</p>
  
  <p>Once again, welcome to Wyshlist.net! Let's revolutionize the product development process together.</p>
  
  <p>Best regards,</p>
  <p>Daniel</p>
  <p>Founder, Wyshlist.net</p>
  <img src="https://www.wyshlist.net/assets/logo-087e78c08af123ef29284793918422f8c22da0ffc663e15fb4db0aa0b2ff7109.jpg" alt="Wyshlist.net logo" height="100">
  