<div class="footer">
  <div class="footer-copyright">
      <%= link_to t('footer.privacy_policy'), privacy_path, class: "primary-link" %>
      |
      <%= link_to t('footer.terms_of_service'), terms_path, class: "primary-link" %>
    <div class="footer-links">
      <% if Wishlist.admin_wishlists.any? %>
        <%= link_to t('footer.contribute'), wishlist_wishes_path(Wishlist.admin_wishlists.first), class: "main-link" %>
      <% end %>
      <%= t('footer.copy_right', year: 2023) %>
    </div>
  </div>
</div>