<div class="footer">
  <div class="footer-copyright">
    <div class="footer-links">
      Wyshlist © 2023 by Wyshlist
      <% if Wishlist.find(104) %>
        <%= link_to "Submit an improvement suggestion", wishlist_wishes_path(Wishlist.find(104)), class: "main-link" %>
      <% end %>
    </div>
  </div>
</div>