<div class="footer">
  <div class="footer-copyright">
    <div class="footer-links">
      Wyshlist © 2023 by Wyshlist
      <% if Wishlist.admin_wishlists.any? %>
        <%= link_to "Contribute to Wyshlist", wishlist_wishes_path(Wishlist.admin_wishlists.first), class: "main-link" %>
      <% end %>
    </div>
  </div>
</div>