<div class="footer">
  <div class="footer-copyright">
      <%= link_to "Privacy policy", privacy_path, class: "primary-link" %>
      |
      <%= link_to "Terms of service", terms_path, class: "primary-link" %>
    <div class="footer-links">
      <% if Wishlist.admin_wishlists.any? %>
        <%= link_to "Contribute to Wyshlist", wishlist_wishes_path(Wishlist.admin_wishlists.first), class: "main-link" %>
      <% end %>
      Wyshlist © 2023 by Wyshlist
    </div>
  </div>
  <div class="footer-social-links">
    <p>Find us on :</p>
    <a href="https://github.com/wyshlist/wyshlist" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/company/wyshlist-app/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
