<div class="sidebar d-none d-lg-flex">
  <%= link_to user_signed_in? ? authenticated_root_path : unauthenticated_root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-short.png", class: "logo"%>
  <% end %>
  <div class="dropdown">
    <%= image_tag "setting.png", class: "icon dropdown-toggle", id: "sidebarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarDropdown">
      <%= render 'shared/sidebar_links', type: 'sidebar' %>
    </div>
  </div>
</div>
