<% content_for :meta_title, "Pricing | Wyshlist" %>
<% content_for :meta_description, "Pricing subscriptions for wyshlist's premium features" %>

<div class="my-container">
    <div class="title-header">
        <div class="title-wrapper">
            <h1>Pricing</h1>
        </div>
    </div>
    <div class="cards">
        <div class="pricing-card">
            <div>
                <h2>Starter Pack</h2>
                <div class="price-card__price">
                    Current Plan
                </div>
            </div>
            <hr>
            <ul>
                <li>Unlimited contributors</li>
                <li>Unlinmited end users</li>
                <li>Unlimited contributions</li>
                <li>Up to 3 Boards</li>
                <li>Generic roadmap tags</li>
            </ul>
            <%= link_to "Get started!", new_user_session_path, class: "btn-flat" %>
        </div>
        <div class="pricing-card pricing-card__primary">
            <div>
                <h2>Pro</h2>
                <div class="price-card__price">
                    Coming Soon
                </div>
            </div>
            <hr>
            <ul>
                <li>Unlimited contributors</li>
                <li>Unlinmited end users</li>
                <li>Unlimited contributions</li>
                <li>Unlimited Boards</li>
                <li>Generic & custom roadmap tags</li>
                <li>Integrate with project management tools</li>
                <li>Up to 3 Boards</li>
                <li>Generic roadmap tags</li>
            </ul>

            <%= link_to "Get started!", class: "" %>

        </div>
        <div class="pricing-card">
            <div>
                <h2>Starter Pack</h2>
                <div class="price-card__price">
                    Coming Soon
                </div>
            </div>
            <hr>
            <ul>
                <li>Unlimited contributors</li>
                <li>Unlinmited end users</li>
                <li>Unlimited contributions</li>
                <li>Up to 3 Boards</li>
                <li>Generic roadmap tags</li>
            </ul>
        </div>
    </div>
</div>