<div class="my-container">
 <div class="title-header">
    <h1>Privacy Policy</h1>
 </div>
  <p><strong>Effective Date: 23/05/2023</strong></p>
  <p>Thank you for using Wyshlist.net ("the Application"). We are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy explains how we collect, use, and disclose information when you access or use our Application. By using Wyshlist.net, you consent to the practices described in this Privacy Policy.</p>
  
  <h2>1. Information We Collect</h2>
  <h3>1.1 Personal Information</h3>
  <p>When you sign up for an account on Wyshlist.net, we collect certain personal information from you, including your email address, first name, last name, and password. This information is required to create and authenticate your account. We encrypt and securely store your password to ensure its confidentiality.</p>
  
  <h3>1.2 User Profile</h3>
  <p>In addition to the above-mentioned personal information, you have the option to provide a profile photo. This photo is used to personalize your account and enhance your user experience within the Application.</p>
  
  <h2>2. Use of Information</h2>
  <h3>2.1 Providing and Improving the Application</h3>
  <p>We use the information we collect to provide you with access to the features and functionality of the Application. This includes facilitating account creation, authenticating users through Google Auth, and enabling you to interact with other users and create wishlists.</p>
  <p>We may also use the information to improve the Application, develop new features, and enhance user experience. This includes analyzing user behavior, preferences, and trends to optimize the performance and usability of the Application.</p>
  
  <h3>2.2 Communication</h3>
  <p>We may use your email address to send you administrative and account-related information, such as notifications, updates, and security alerts. These communications are essential for the operation of the Application, and you may not opt out of them.</p>
  <p>Additionally, we may send you promotional emails and newsletters related to Wyshlist.net if you have provided your consent to receive such communications. You can unsubscribe from these emails at any time by following the instructions provided in the email or by contacting us directly.</p>
  
  <h2>3. Data Sharing and Disclosure</h2>
  <h3>3.1 Third-Party Service Providers</h3>
  <p>We may engage third-party service providers to perform various functions necessary for the operation and maintenance of the Application. These service providers have access to your personal information only to the extent necessary to perform their duties and are obligated to handle it securely and in accordance with this Privacy Policy.</p>
  
  <h3>3.2 Legal Requirements</h3>
  <p>We may disclose your personal information if required to do so by law or in response to a valid legal request, such as a court order, subpoena, or government investigation.</p>
  
  <h2>4. Data Security</h2>
  <p>We take the security of your personal information seriously and implement reasonable measures to protect it against unauthorized access, alteration, disclosure, or destruction. Despite our efforts to safeguard your information, no security system is impenetrable, and we cannot guarantee the absolute security of your data.</p>
  
  <h2>5. Data Retention</h2>
  <p>We retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law. If you wish to delete your account or request the deletion of your personal information, please contact us using the information provided at the end of this Privacy Policy.</p>
  
  <h2>6. Children's Privacy</h2>
  <p>Wyshlist.net is not intended for use by individuals under the age of 16. We do not knowingly collect personal information from children under 16 years of age. If we become aware that we have inadvertently gathered personal data from a child under 16, we will take appropriate measures to delete it. If you believe we have collected personal information from a child under 16, please contact us as provided below.</p>
  
  <h2>7. Changes to the Privacy Policy</h2>
  <p>We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any material changes by posting the updated Privacy Policy on the Application or through other appropriate communication channels. We encourage you to review this Privacy Policy periodically to stay informed about our data practices.</p>
  
  <h2>8. Contact Us</h2>
  <p>If you have any questions, concerns, or requests regarding this Privacy Policy or the privacy practices of Wyshlist.net, please contact us at:</p>
  <p>Email: <a href="mailto:hello@wyshlist.net" target="_blank">hello@wyshlist.net</a></p>
  <p>We will make reasonable efforts to address and resolve any concerns you may have.</p>
</div>