.banner {
    background-color: $white;
    padding: 250px 0;
  }
  
  .banner h1 {
    margin: 0;
    color: $font-color;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 1.25rem;
    color: $font-color;
    opacity: .7;
    margin-bottom: 30px;
  }

  .banner__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }
  