.banner {
    background-color: $white;
    padding: 150px 0;
    display: flex;
  }
  
  .banner h1 {
    margin-bottom: 30px;
    color: $font-color;
    font-size: 56px;
    line-height: 58px;
    font-weight: 500;
  }

  .banner__body {
    display: block;
    padding: 0 20px;
    p {
      margin: 25px 0px;
      font-size: 14px;;
    }
  }

  .banner__mockup {
    max-width: 1000px;
    margin: -22px auto 0px auto;
  }

  // .banner__doodle {
  //   position: absolute;
  //   bottom: -50px;
  //   right: 0px;
  //   z-index: 10;
  //   width: 100%;
  //   max-width: 600px;
  // }
  
  // Smallest device
@media (min-width: 100px) and (max-width: 775px) {
  .banner__mockup {
    max-width: 100%;
    margin: 0px auto

  }

  .banner {
    padding: 70px 0;
    display: block;
    p {
      text-align: center;
    }
  }

  .banner h1 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 47px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}