.banner {
    background-size: cover;
    background-position: center;
    padding: 250px 0;
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 3rem;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 1.25rem;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-bottom: 30px;
  }

  .banner__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }
  