.upvote-button {
    background-color: $font-color;
    color: white !important;
    padding: 5px 10px;
    border-radius: 0.25rem;
    width: fit-content;
    height: fit-content;
}

.btn-flat {
    color: white !important;
    font-weight: bold;
    padding: 12px 34px;
    border-radius: 0.5rem;
    background: $primary-color;
    transition: background 0.3s ease;
  }

  .btn-black {
    background: black;
  }
  
  .btn-flat:hover {
    background: $primary-color-hover;
    color: white;
  }

  .new-wish-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  