.upvote-button {
    background-color: $font-color;
    color: white !important;
    padding: 5px 10px;
    border-radius: 0.25rem;
    width: fit-content;
    height: fit-content;
}

.connect-icon {
    height: 20px;
    width: 20px;
    object-fit: center;
    margin-left: 15px;
    margin-top: -2px;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

.btn-flat {
  color: white;
  font-weight: bold;
  padding: 12px 34px;
  border-radius: 4px;
  background: $primary-color;
  transition: background 0.3s ease;
  box-sizing: border-box;
  margin: 10px 0px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);;
}

.btn-flat:hover {
  background: $primary-color-hover;
  color: white;
}

.btn-flat:disabled {
  color: rgba(0, 0, 0, 0.38);
  background-color: rgba(0, 0, 0, 0.12);
}

.sidebar-button {
  width: 100%;
  text-align: center;
}

.wish-update-secondary {
  margin-top: 15px;
  font-size: 16px !important;
  padding: 5px 10px;
  width: 100%;
}

.btn-black {
  background: black;
}

.btn-ghost {
  background: transparent;
  border: 1px solid $placeholder-gray;
  color: black !important;
  box-shadow: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 24px;
    margin-right: 8px;
  }
  &:hover {
    background: $bg-color;
    color: white;
  }
}

.primary-link {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: $primary-color-hover !important;
  }
}

.btn-secondary {
  color: $primary-color;
  padding: 12px 34px;
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border: solid 1px $primary-color;
  transition: background-color 0.3s ease;
  background-color: white;
}

.btn-secondary:hover {
  background-color: $primary-color;
  color: white;
}

.ghost-button {
  font-size: 14px;
  padding: 8px 14px;
  font-weight: bold;
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 4px;
  &:hover {
    background: $primary-color;
    color: white;
    transition: 0.3s ease;
  }
}

.dark {
  color: $gray;
  border: 1px solid $gray;

  &:hover {
    background: $gray;
  }
}

@media (max-width: 768px) {
  .upvote-button {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .btn-secondary {
    margin-top: 15px;
  }

  .wish-update-secondary {
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .btn-flat {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.main-link {
  color: $primary-color !important;
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: $primary-color-hover !important;
  }
}
