.card-product {
    overflow: hidden;
    background: white;
    border: solid 2px #e6e6e6;
    border-radius: .75rem;
    display: flex;
    align-items: start;
    margin-bottom: 20px;
    justify-content: space-between;
    padding: 15px;
  }

  .card-product__color {
    margin-right: 20px;
    height: 3.5rem;
    width: 3.5rem;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .card-product__info {
    display: flex;
    align-items: start;
    padding: 1rem;
  }

  .new-wish-card {
    width: auto;
    // padding: 20px 0px;
  }

  .card-product__link {
    color: #000;
    text-decoration: none;
    &:hover {
      color:#404040
    }
  }
  
  .card-product h2 {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0;
  }
  
  .card-product p {
    font-size: .875rem;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product__vote-count {
    font-size: 25px;
    text-align: center;
    border: 1px solid #e6e6e6;
    border-radius: 0.25rem;
    margin-bottom: 10px;
  }

  .card-product__votes small {
    font-size: 12px;
    opacity: .7;
  }

  .card-product__vote {
    display: block;
  }

  .card-product__icons {
    padding: 10px 0px;
    display: flex;
    color: #b8b8b8;
    align-items: center;
  }

  .card-product__icon {
    display: flex;
    align-items: center; 
  }

  .card-product__status {
    margin-right: 25px;
    padding: 5px 15px;
    border-radius: 25px;
  }

  .card-product__icon i {
    padding-right: 5px;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
  }

  .form-wrapper form {
    margin: 25px;
  }

  .cards-columns {
    display: flex;
  }

  .wishes-wrapper {
    flex-grow: 1;
  }

  .wishes-filter {
    width: 15rem;
    flex-grow: 0;
    margin-left: 50px;
    position: relative;
    ul {
      list-style: none;
      padding: 0;
      position: fixed;
      top: 0;
    }
  }


  