.footer {
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
    margin-top: 50px;
  }

.footer-links {
  display: flex;
  flex-direction: column;
  text-align: center;
}