.category-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .category-item {

  }
  
  .category-selector {
    position: absolute;
    transform: scale(0);
  }

  .form-control {
    border-radius: 8px;
  }
  
  .form-wrapper {
    text-align: center;
  }

  .wishes__copy {
    display: flex;
    align-items: center;
    height: 28px;
    color: $primary-color;
    button {
      background-color: $bg-color;
      padding: 0px 3px;
      border: none;
      border-radius: 0px 2px 2px 0px;
      height: 28px;
      color: $primary-color;
    }
  }

  .wishes__copy-link {
    width: 12rem;
    border-radius: 2px 0px 0px 2px;
    border-left: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-right: none;
  }

  .wishes__clipboard {
    width: 2rem;
    height: 28px;
    border-radius: 0px 2px 2px 0px;
  }

  .category-selector + label {
    font-size: 1px;
    padding: 25px;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 12px;
    text-align: left;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    margin: 20px;
    width: 70px;
  }
  
  .category-selector:checked + label {
    border: 3px solid $light-gray !important;
    background-color: #EAEAEA;
  }
  
#wishlist_color_ecedfe + label {
    color: #ECEDFE;
    background-color: #ECEDFE;
    border-radius: 100%; 
    border: 3px solid #ECEDFE;
}

#wishlist_color_effeec + label {
    color: #EFFEEC;
    background-color: #EFFEEC;
    border-radius: 100%; 
    border: 3px solid #EFFEEC;
}

.wish-update-buttons {
  display: block;
}

#wishlist_color_feecec + label {
    color: #FEECEC ;
    background-color: #FEECEC;
    border-radius: 100%; 
    border: 3px solid #FEECEC;
}

#wishlist_color_fefcec + label {
    color: #FEFCEC;
    background-color: #FEFCEC;
    border-radius: 100%; 
    border: 3px solid #FEFCEC;
}

#wishlist_color_f9ecfe + label {
    color: #F9ECFE;
    background-color: #F9ECFE;
    border-radius: 100%; 
    border: 3px solid #F9ECFE;
}

#wishlist_color_ecfefe + label {
    color: #ECFEFE;
    background-color: #ECFEFE;
    border-radius: 100%; 
    border: 3px solid #ECFEFE;
}

.new_wishlist {
    text-align: center;
}

.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.form-check {
  margin: 15p 0px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: #1EDD88;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}

@media (max-width: 768px) {
  .category-selector + label {
    padding: 15px;
    width: 55px;
    margin: 15px;
  }
}