.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.form-control {
  border-radius: 4px;
}

.color-input {
  width: 100px;
  height: 70px;
}

.color-center {
  margin: 0px auto;
}

.form-wrapper {
  text-align: center;
}

.organization_subdomain {
  flex-grow: 1;
}

.subdomain-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.form-user {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 34px;
  }

  .vw-30 {
    min-width: 30vw;
  }

  .form-header {
    text-align: start;
  }

  form {
    margin: 12px 0;
    min-width: 30vw;
  }

  .form-text {
    font-size: 12px;
  }

  .form-control {
    border: none;
    padding: 6px 0;
    border-radius: 0;
    border-bottom: 1px solid $placeholder-gray;

    &:focus {
      box-shadow: none;
    }
  }

  .form-label {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    margin: 0;
  }
}

.search-bar {
  margin-top: 12px;

  .form-control {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  .form-control.active {
    opacity: 1;
    height: auto;
    box-shadow: 0px 0px 10px 0px #00000026;
    border-radius: 10px;
    border-color: $card-border;
    transition: height 0ms 200ms, opacity 200ms 0ms;
  }
}

.wish_stage {
  margin-bottom: 0px !important;
}

.dropdown button {
  position: relative;

  .circle {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: $primary-color;
    position: absolute;
    top: 3px;
    right: -2px;
  }
}

.dropdown-menu {
  font-size: 14px;
  border-radius: 4px;

  input[type="date"] {
    color: $mid-grey !important;
  }

  ::-webkit-calendar-picker-indicator {
    color: hotpink;
  }

  .form-control {
    border: none !important;



    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  li {
    position: relative;
  }

  .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: max-content;

    .dropdown-item {
      display: grid;
      grid-template-columns: 1fr 4fr;
    }
  }

  .dropdown-header {
    color: $mid-grey;
  }

  .dropdown-divider {
    margin-left: 16px;
    margin-right: 16px;
  }

  .dropdown-item {
    &:hover {
      a {
        color: $primary-color !important;
      }
      background-color: transparent;
    }

    a {
      color: black;
    }
  }

  .dropdown-item {
    a.active {
      background-color: transparent;
      color: $primary-color;
    }
  }
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.dropdown-hover:hover>.dropdown-menu {
  display: inline-block;
}

.dropdown-hover>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.form-comment__input {
  flex-grow: 1;
  margin-right: 15px;
}

.form-comment {
  width: 100%;

  .divider {
    border-top: 1px solid $border-gray;
    margin: 0 -50%;
  }

  form {
    text-align: end;
    display: flex;
  }

  .comment_content {
    flex-grow: 1;
  }

  textarea {
    border: none;
    height: 40px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.login-separator {
  margin-top: 12px;
  display: grid;
  min-width: 30vw;
  grid-template-columns: 1fr auto 1fr;

  p {
    margin: 0 32px;
    color: $placeholder-gray;
  }

  .separator__line {
    border-bottom: 1px solid $placeholder-gray;
    height: 0;
    margin: auto 0;
  }
}

.wishes__copy {
  display: flex;
  align-items: center;
  height: 28px;
  color: $primary-color;
  button {
    background-color: $bg-color;
    padding: 0px 3px;
    border: none;
    border-radius: 0px 2px 2px 0px;
    height: 28px;
    color: $primary-color;
  }
}

.wishes__copy-link {
  // width: 12rem;
  flex-grow: 1;
  border-radius: 2px 0px 0px 2px;
  border-left: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  border-right: none;
}

.wishes__clipboard {
  width: 2rem;
  height: 28px;
  border-radius: 0px 2px 2px 0px;
}

.category-selector + label {
  font-size: 1px;
  padding: 25px;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 12px;
  text-align: left;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  margin: 20px;
  width: 70px;
}

.category-selector:checked + label {
  border: 3px solid $light-gray !important;
  background-color: #EAEAEA;
}

#wishlist_color_ecedfe + label {
    color: #ECEDFE;
    background-color: #ECEDFE;
    border-radius: 100%;
    border: 3px solid #ECEDFE;
}

#wishlist_color_effeec + label {
    color: #EFFEEC;
    background-color: #EFFEEC;
    border-radius: 100%;
    border: 3px solid #EFFEEC;
}

.wish-update-buttons {
  display: block;
}

#wishlist_color_feecec + label {
    color: #FEECEC ;
    background-color: #FEECEC;
    border-radius: 100%;
    border: 3px solid #FEECEC;
}

#wishlist_color_fefcec + label {
    color: #FEFCEC;
    background-color: #FEFCEC;
    border-radius: 100%;
    border: 3px solid #FEFCEC;
}

#wishlist_color_f9ecfe + label {
    color: #F9ECFE;
    background-color: #F9ECFE;
    border-radius: 100%;
    border: 3px solid #F9ECFE;
}

#wishlist_color_ecfefe + label {
    color: #ECFEFE;
    background-color: #ECFEFE;
    border-radius: 100%;
    border: 3px solid #ECFEFE;
}

.new_wishlist {
    text-align: left;
}

.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.form-check {
  margin: 15p 0px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: #1EDD88;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: $bg-color;
  color: $font-color;
}

.nav-pills .nav-link {
  color: $font-color;
}

.nav-pills {
  margin-top: 25px;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 8px;
  min-width: 30vw;
}

.logo {
  height: 60px;
}

.character-count {
  display: flex;
  justify-content: space-between
}

@media (max-width: 768px) {
  .category-selector + label {
    padding: 15px;
    width: 55px;
    margin: 15px;
  }
}
