.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.border-bottom {
  border-bottom: 1px solid $border-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 65px;
}

.navbar img {
  height: 65px;
}

.nav-item {
  margin: 0px 10px
}

.announcement-bar {
  text-align: center;
  background-color: $blue-bg;
  padding: 15px 0px;
  p {
    margin: 0px;
    font-size: color;
  }
}
