.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.border-bottom {
  border-bottom: 1px solid $border-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px;
}

.navbar .wyshlist-logo {
  height: 50px;
}

.nav-item {
  margin: 0px 10px
}

.announcement-bar {
  text-align: center;
  background-color: $blue-bg;
  padding: 15px 0px;
  p {
    margin: 0px;
    font-size: color;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .navbar-collapse {
    background: white;
    border: solid 1px lightgrey;
    border-radius: 12px;
    padding: 0.5em;
    align-items: flex-end;

    .navbar-nav {
      align-items: end;
    }

    a, .avatar {
      margin: 0.4em;
    }
  }
}
