.section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

.page-wrapper {
    min-height: 90vh;
}

.testimonial-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 39px;
    width: 819px;
    margin: 0 auto;
}

.testimonial-name {
  color: $primary-color;
  margin: 15px 0px 0px 0px; 
}

.testimonial-body {
  margin-left: 25px;
  h2 {
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  em {
    color: $primary-color;
  }
}

.testimonial-text-card {
  background-color: $primary-color;
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-size: 34px;
  line-height: 41px;
  height: 433px;
}

.testimonial-img {
  height: 433px;
}

.bg-section {
    background: $bg-grey;
    padding: 100px 0px;
}

.about-us-section {
}

.about-us-section__body {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 50px 0px;
}

.breadcrumbs-wrapper {
    margin: 10px 0px;
    color: $primary-color;
}

.breadcrumbs-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.about-us-section__icon {
    width: 121px;
    height: 121px;
    margin-right: 20px;
    margin-bottom: 1rem;
}

.about-us-section__grid-card {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    h3 {
      font-weight: 400;
    }
}

.big-wrapper{
  text-align: center;
}

.wish-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.about-us-section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 105px;
}


.new-wish-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.new-wish-sidebar-wrapper {
  padding: 0px;
}

.big-wrapper {
  padding: 100px 0px;
}

.desktop-display {
  display: block;
}

.mobile-display {
  display: none;
}

  // Smallest device
@media (min-width: 100px) and (max-width: 775px) {
  .about-us-section__grid {
      grid-template-columns: 1fr;
      grid-gap: 36px;
  }

  .about-us-section__grid-card {
      flex-direction: column;
  }

  .section-wrapper {
      padding: 50px 0px;
  }

  .new-wish-wrapper {
      padding: 50px 0px;
  }

  .testimonial-wrapper {
    display: block;
    width: 100%;
    padding: 0px;
  }

  .testimonial-body {
    margin-left: 0px;
    h2 {
      font-size: 36px;
      text-align: center;
    }
  }
  
  .testimonial-text-card {
    font-size: 1.2rem;
    height: 100%;
  }

  .testimonial-img {
    height: 60px;
    margin: 10px 20px 20px 0px;
  }

  .desktop-display {
    display: none;
  }

  .mobile-display {
    display: block;
  }

  .mobile-display-testimonial {
    display: flex;
  }

  .card-info {
    display: block;
    text-align: center;
    margin: 150px 0px;
    li {
      list-style: none;
    }
  }

  .card-info__img {
    width: 70%;
    text-align: center;
    margin: 0px auto 25px auto;
  }

  .right-image {
    margin-right: 12px;
  }

  .left-image {
    margin-left: 12px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .about-us-section__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .about-us-section__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.feedback-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.feedback__column-left {
  width: 800px;
}

.feedback__column-right {
  width: 100%;
}

.separator {
  flex-basis: 1px;
  background-color: gray;
  margin: 0 10px;
}
