.section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 0px;
}

.page-wrapper {
    min-height: 90vh;
}

.about-us-section {
    h2 {
        font-size: 2.25rem;
        font-weight: bold;
        margin: 0;
    }
}

.about-us-section__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 0.5rem;
    background-color: $primary-color;
    margin-right: 20px;
    margin-bottom: 1rem;
}

.about-us-section__grid-card {
    display: flex;
}

.about-us-section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

@media (min-width: 1024px) {
    .about-us-section__grid {
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
}
@media (min-width: 768px) {
    .about-us-section__grid {
        grid-gap: 3rem;
        grid-template-columns: repeat(2,minmax(0,1fr));
        margin-top: 4rem;
    }
}

