.section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

.page-wrapper {
    min-height: 90vh;
}

.about-us-section {
}

.about-us-section__body {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 50px 0px;
}

.breadcrumbs-wrapper {
    margin: 10px 0px;
    color: $primary-color;
}

.about-us-section__icon {
    width: 121px;
    height: 121px;
    margin-right: 20px;
    margin-bottom: 1rem;
}

.about-us-section__grid-card {
    display: flex;
    text-align: center;
    align-items: center;
    h3 {
      font-weight: 400;
    }
}

.about-us-section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 105px;
}


.new-wish-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.big-wrapper {
  padding: 100px 0px;
}

  // Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .about-us-section__grid {
      grid-template-columns: 1fr;
      grid-gap: 36px;
  }

  .about-us-section__grid-card {
      flex-direction: column;
  }

  .section-wrapper {
      padding: 50px 0px;
  }

  .new-wish-wrapper {
      padding: 50px 0px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .about-us-section__grid {
    grid-template-columns: 1fr;
  }

  .about-us-section__grid-card {
      flex-direction: column;
  }

  .section-wrapper {
      padding: 50px 0px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .about-us-section__grid {
    grid-template-columns: 1fr 1fr;
  }

  .section-wrapper {
      padding: 50px 0px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .about-us-section__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .about-us-section__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

