<div class="d-flex">
  <%= render "shared/sidebar" %>
    <div class="flex-grow-1">
    <%= render "shared/dashboard_navbar" %>
        <div class="my-container">
            <div class="form-wrapper">
                <h1>Edit your team details</h1>
                <%= render "form" %>
                <%#= link_to "Sign in", new_user_session_path %>
            </div>
        </div>
    </div>
</div>
