<div class="container">
    <div class="card-product form-wrapper">
        <h1>Join a team</h1>
        <%= simple_form_for @organization do |f| %>
            <%= f.input :name %>
            <%= f.submit "Join a team", class: "btn-flat"%>
        <% end %>
    </div>
</div>