<div class="my-container">
    <div class="title-header">
        <h1>
          <%=  @organization.name  %> boards
        </h1>
    </div>
    <div class="breadcrumbs-wrapper">
        <small><%= render_breadcrumbs :separator => "  /  " %></small>
    </div>
    <% if @wishlists.any? %>
        <%= render "wishlists/wishlists_cards", wishlists: @wishlists  %>
    <% else %>
        <div class="card-product">
            <p>There are no boards yet.</p>
            <p>Click on the button above to create one.</p>
        </div>
    <% end %>
</div>
