<div class="cards">
    <% @wishlists.each do |wishlist| %>
        <%= link_to wishlist_wishes_path(wishlist) do %>
            <div class="card-product">
                <div class="card-product__info">
                    <h2 class="wishlist-title"><%= wishlist.title.truncate(25) %></h2>
                </div>
                <%= wishlist.wishes.count %>
            </div>
        <% end %>
    <% end %>
</div>