<div class="my-container">
    <div class="title-header">
        <h1>Your Feed</h1>
        <%= link_to " New wishlist", new_wishlist_path, class: " nav-link upvote-button btn-black" %>
    </div>
    <div class="breadcrumbs-wrapper">
        <small><%= render_breadcrumbs :separator => "  /  " %></small>
    </div>
    <%= render "wishlists_cards", wishlists: @wishlists  %>
</div>

