<div class="my-container">
    <div class="title-header">
        <h1>Your Feed</h1>
        <%= link_to " New wishlist", new_wishlist_path, class: " nav-link upvote-button btn-black" %>
    </div>
    <% if @wishlists.empty? %>
        <div class="card-product">
            <p>There are no boards yet.</p>
            <p>Click on the button above to create one.</p>
        </div>
    <% else %>
        <%= render "wishlists_cards", wishlists: @wishlists  %>
    <% end %>
</div>

