<div class="my-container my-5">
    <% if @organization %>
        <h1><%= t('new_board.title_with_org', org_name: current_user.organization.name.capitalize) %></h1>
    <% else %>
        <h1><%= t('new_board.title') %></h1>
    <% end %>
    <p><%= t('new_board.description') %></p>
    <%= render "form" %>
</div>
